* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0.4rem;
}

button {
  padding: 0.2rem;
  border-radius: 0.3rem;
  margin: 0.1rem;
  font-size: 1rem;
}

input[type="text"]{
  border-radius: 0.3rem;
  padding: 0.3rem;
}

input[type="checkbox"] {
  margin: 0.2rem;
}
